body {
    background-color: #e5e5f7;
    background-image:  linear-gradient(#f7c445 2px, transparent 2px), linear-gradient(90deg, #f7c445 2px, transparent 2px), linear-gradient(#f7c445 1px, transparent 1px), linear-gradient(90deg, #f7c445 1px, #e5e5f7 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.plant-card-img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    background-color: #e9ecef;
}

.card:hover .plant-card-img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.plant-card-img {
    transition: transform 0.3s ease;
}