body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#BC6C25 0.5px, #fefae069 0.5px);
    background-size: 10px 10px;
    font-family: sans-serif;
}

.plant-card-img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    background-color: #e9ecef;
}

.card:hover .plant-card-img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.plant-card-img {
    transition: transform 0.3s ease;
}